.cabecalho{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 20%;
    height: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}